services:
  personal-manager:
    image: aritraghorai/personal-manger:${VERSION:-latest}
    build:
      context: .
      tags:
        - aritraghorai/personal-manger:latest
        - aritraghorai/personal-manger:${VERSION:-latest} 
    # ports:
    #   - "3000:3000"
    env_file:
      - .env
    volumes:
      - ./dev.db:/app/dev.db
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.personal-manager.rule=Host(`pm.dev.aritraghorai.in`)"
      - "traefik.http.services.personal-manager.loadbalancer.server.port=3000"
    networks:
      - proxy-network

  migration:
    build:
      context: .
      dockerfile: Dockerfile.migration
    env_file:
      - .env
    volumes:
      - ./dev.db:/app/dev.db
    networks:
      - proxy-network
    profiles:
      - tools

networks:
  proxy-network:
    external: true
